In [5]:
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
base_path='/volatile/ad279118/Irene/MOSTEST/Results/ChampollionV0/CINGULATE_right/09-52-22_75/Sorted_projection/'

In [45]:
list_leadSNP = ['rs111328903_T', 
'rs7728751_A', 
'rs7636227_A', 
'rs3020595_G'
]

In [46]:
for path in glob.glob(os.path.join(base_path, '*')):
    for finalpath in glob.glob(os.path.join(path, '*')):
        print(finalpath.split(f'{path}/')[1])
    break

rs111328903_T.csv
rs7728751_A.csv
rs7636227_A.csv
rs3020595_G.csv

In [47]:
rsID_A = "rs111328903_T.csv"

a = pd.read_csv(f'{base_path}/direction_square_Z_score/{rsID_A}')

b = pd.read_csv(f'{base_path}/direction_Z_score/{rsID_A}')

c = pd.read_csv(f'{base_path}/regression_on_latent/{rsID_A}')
c

           IID  projection
0      4656488   -0.164064
1      3389942   -0.149974
2      2516958   -0.148531
3      1475079   -0.148092
4      1375693   -0.144072
...        ...         ...
34039  2176091    0.131864
34040  5354402    0.134365
34041  5600200    0.137936
34042  5904085    0.141663
34043  2747895    0.144635

[34044 rows x 2 columns]

In [48]:
np.corrcoef(np.array([1,2,3,4,5,6,7,8,9]), np.array([9,8,7,6,5,4,3,2,1]))

array([[ 1., -1.],
       [-1.,  1.]])

In [49]:
np.corrcoef(a.projection, b.projection)

array([[1.     , 0.99981],
       [0.99981, 1.     ]])

In [50]:
merge = pd.merge(left=a, right=c, on='IID', how='inner')
merge

           IID  projection_x  projection_y
0      2516958      0.132141     -0.148531
1      4656488      0.131306     -0.164064
2      4748953      0.122394     -0.143674
3      5374510      0.121120     -0.138842
4      5497727      0.120425     -0.128094
...        ...           ...           ...
34039  1091508     -0.115422      0.124354
34040  5600200     -0.116112      0.137936
34041  1715213     -0.116868      0.127411
34042  5265453     -0.117407      0.124795
34043  2164857     -0.119143      0.121922

[34044 rows x 3 columns]

In [51]:
merge.drop('IID', axis=1).corr()

              projection_x  projection_y
projection_x      1.000000     -0.894773
projection_y     -0.894773      1.000000